.brand {
    background: #F5F6F6;
    padding: 28px 0;
}

.brand__slider {
    position: relative;
}

.brand__slider::before {
    background: linear-gradient(270deg, #F5F6F6 31.58%, rgba(245, 246, 246, 0) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    width: 100px;
    height: 100%;
    z-index: 2;
}

.brand__slider::after {
    background: linear-gradient(80deg, #F5F6F6 31.58%, rgba(245, 246, 246, 0) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100px;
    z-index: 2;
    height: 100%;
}

.brand__title {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
    max-width: 1265px;
    margin: 0 auto;
}

.brand__btn {
    max-width: 1265px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.brand__btn-text {
    margin-left: 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #FF650C;
}

.brand__list {
    width: 100%;
    margin: 28px 0;
    display: flex;
}

.brand__list::-webkit-scrollbar {
    width: 0;
    opacity: 0;
    height: 0;
}

.brand__name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #707070; cursor: pointer;
}

.brand__name--active {
    color: #FF650C;
}

.brand__item {
    padding-right: 60px;
    margin-right: 60px;
    border-right: 1px solid #CCCCCC;
}

.brand__item:first-of-type {
    padding-left: 60px;
    margin-left: 60px;
}

.brand__swiper-slide {
    width: auto;
}

.brand__btn-svg--m {
    display: none;
}


@media screen and (max-width: 1024px) {
    .brand {
        padding: 24px 0;
    }

    .brand__title {
        max-width: 945px;
        font-size: 20px;
        line-height: 28px;
    }
    .brand__btn {
        max-width: 945px;
    }

    .brand__item:first-of-type {
        padding-left: 40px;
        margin-left: 0;
    }

    .brand__list {
        margin: 20px 0;
    }

    .brand__name {
        font-size: 18px;
        line-height: 28px;
    }
}

@media screen and (max-width: 768px) {
    .brand__btn-svg--m {
        display: block;
        margin-left: 11px;
    }

    .brand__btn-svg--d {
        display: none;
    }

    .brand__slider::before {
        width: 30px;
    }

    .brand__slider::after {
        width: 30px;
    }

    .brand__title {
        max-width: 280px;
    }

    .brand__btn {
        max-width: 280px;
    }

    .brand__btn-text {
        margin-left: 0;
    }

    .brand {
        padding: 16px 0;
    }
    .brand__item:first-of-type {
        padding-left: 20px;
    }

    .brand__item {
        padding-right: 16px;
        margin-right: 16px;
        border-right: 1px solid #CCCCCC;
    }

    .brand__list {
        margin: 12px 0;
    }
}
