.services {
    max-width: 1265px;
    margin: 80px auto;
}

.services__container {

}

.services__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

@media screen and (max-width: 1024px) {
    .services {
        max-width: 944px;
        margin: 68px auto;
    }
}

@media screen and (max-width: 768px) {
    .services {
        max-width: 280px;
        margin: 40px auto;
    }

    .services__container {
        display: flex;
        overflow: hidden;
        overflow-x: auto;
    }

    .services__container::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }

    .services__row {
        flex-wrap: nowrap;
        margin-right: 16px;
    }
}
